package main

templ home(station string) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Random Station!</title>
		</head>
		<body>
			<h1>Random Subway Station!</h1>
			<p>Your random subway station to explore today is <b>{ station }</b> station!</p>
			<br/>
			<button onClick="window.location.reload();">Again!!</button>
		</body>
	</html>
}
